.DS_Store
*:Zone.Identifier
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
.turbo/
quartz/components/prototypes/
